<section data-ng-controller="CustomersController">
  <div class="page-header">
      <h3>New Customer</h3>
  </div>
  <div class="col-sm-12">
    <form class="" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="row">
            <div class="col-sm-6 text-center">
              <i class="glyphicon glyphicon-user cust-profile"></i>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="firstname">First Name</label>
                <div class="controls">
                  <input type="text" data-ng-model="firstName" id="firstname" class="form-control" placeholder="First Name" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="surname">Surname</label>
                <div class="controls">
                  <input type="text" data-ng-model="surname" id="surname" class="form-control" placeholder="Surame" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="suburb">Suburb</label>
                <div class="controls">
                  <input type="text" data-ng-model="suburb" id="suburb" class="form-control" placeholder="Suburb" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="country">Country</label>
                <div class="controls">
                  <input type="text" data-ng-model="country" id="country" class="form-control" placeholder="Country" required>
                </div>
              </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group">
              <label for="Phone" class='control-label'>Phone</label>
              <div class="controls">
                <input type="text" data-ng-model='phone' id='phone' class="form-control" Placeholder='Phone'>
              </div>
            </div>
            <div class="form-group">
              <label for="Email" class='control-label text-muted'>Email</label>
              <div class="controls">
                <input type="text" data-ng-model='email' id='email' class='form-control'>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class='form-group'>
              <label for="referred" class="control-label">Referred</label>
              <div class='controls'>
                <input type="checkbox" data-ng-model="referred" id="referred" class='form-control checkbox-left'>
              </div>
            </div>

            <div class='form-group'>
              <label for="channel" class="control-label">Channel</label>
              <div class="controls">
                <input type="text" data-ng-model='channel' id='channel' class='form-control'>
              </div>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="industry" class="cotrol-label">Industry</label>
              <div class="controls">
                <input type="text" data-ng-model='industry' id='channel' class='form-control'>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <button type='submit' class="btn btn-lg btn-success">Save &amp; Close</button>
            <button class="btn btn-lg btn-warning">Cancel</button>
          </div>
        </div>




      </fieldset>
    </form>

    <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </div>


</section>
